
// font-weight
$regular:400;
$bold:900;

// color
$black-100: #020202;
$black-80: #525252;
$black-60: #919191;
$black-20: #f2f2f2;
$black-0: #ffffff;
$primary: #f18724;
$surface: #f2efe7;

// Typography
$font-family: "Noto Sans TC", sans-serif;

