@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #020202;
  color: #ffffff;
  font-family: "Noto Sans TC", sans-serif;
}
body button {
  background-color: #ffffff;
  cursor: pointer;
}
body a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

.fs-d1,
.fs-d2,
.fs-d3,
.fs-h1,
.fs-h2,
.fs-h3,
.fs-h4,
.fs-h5,
.fs-h6 {
  font-weight: 900;
  line-height: 1.2;
}

.fs-d1 {
  font-size: 160px;
  font-weight: 700;
}

.fs-d2 {
  font-size: 120px;
  font-weight: 400;
}

.fs-d3 {
  font-size: 80px;
  font-weight: 400;
}

.fs-h1 {
  font-size: 3rem;
  font-weight: 400;
}

.fs-h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.fs-h3 {
  font-size: 2rem;
  font-weight: 400;
}

.fs-h4 {
  font-size: 1.75rem;
  font-weight: 400;
}

.fs-h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

.fs-h6 {
  font-size: 1.25rem;
  font-weight: 400;
}

.fs-lg {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.fs-md {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.fs-sm {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .fs-mb-h1,
  .fs-mb-h2,
  .fs-mb-h3,
  .fs-mb-h4,
  .fs-mb-h5,
  .fs-mb-h6 {
    font-weight: 900;
    line-height: 1.2;
  }
  .fs-mb-h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  .fs-mb-h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .fs-mb-h3 {
    font-size: 2rem;
    font-weight: 400;
  }
  .fs-mb-h4 {
    font-size: 1.75rem;
    font-weight: 400;
  }
  .fs-mb-h5 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .fs-mb-h6 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .fs-mb-lg {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .fs-mb-md {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .fs-mb-sm {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
  }
}
.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.5; /* 可选：让禁用的链接看起来灰掉 */
}

.container-top {
  max-width: 1326px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-top .navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  align-items: center;
}
.container-top .navbar .logo {
  display: flex;
  gap: 16px;
}
.container-top .navbar .logo img {
  height: 40px;
}
.container-top .navbar .logo h1 {
  display: none;
}
.container-top .navbar .menu-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.container-top .navbar .menu-list a {
  display: block;
}
.container-top .navbar .menu-list .fs-lg {
  font-weight: 700;
}
.container-top .navbar a {
  display: none;
}
.container-top .navbar .fs-lg {
  color: #ffffff;
}
.container-top .kv {
  margin-bottom: 100px;
}
.container-top .kv .kv-title {
  margin: 40px 0;
  font-weight: 900;
}
.container-top .kv a {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 20px 40px;
}
.container-top .kv a:hover {
  background-color: #ffffff;
  color: #020202;
}
.container-top .kv a .fs-h6 {
  font-weight: 900;
}
.container-top .animation {
  display: flex;
  justify-content: flex-end;
}
.container-top .animation .grass-list .grass-item {
  overflow: hidden;
}
.container-top .animation .grass-list .grass-item img {
  position: relative;
  animation: slide-up 3.5s ease-in-out infinite;
}
.container-top .animation .grass-list .grass-item .grass1 {
  animation-delay: 0.5s;
}
.container-top .animation .grass-list .grass-item .grass2 {
  animation-delay: 0.25s;
}
.container-top .animation .grass-list .grass-item .grass3 {
  animation-delay: 0s;
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.container-top .our-service {
  margin: 160px 0;
}
.container-top .our-service .service-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.container-top .our-service .service-title .fs-h3 {
  font-weight: 900;
}
.container-top .our-service .service-title .fs-h1 {
  max-width: 856px;
  font-weight: 900;
}
.container-top .our-service .service-card-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.container-top .our-service .service-card-list .service-card {
  width: 33.3333333333%;
  border: 1px solid #525252;
  border-radius: 16px;
  padding: 80px 40px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.container-top .our-service .service-card-list .service-card .material-icons {
  font-size: 80px;
}
.container-top .partner {
  margin-bottom: 160px;
  position: relative;
}
.container-top .partner .fs-h3 {
  font-weight: 900;
}
.container-top .partner .logo-list {
  position: relative;
  margin: 80px 0 160px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
}
.container-top .partner .logo-list::before {
  content: " ";
  position: absolute;
  z-index: 1;
  left: 0;
  height: 105px;
  min-width: 196px;
  background: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
}
.container-top .partner .logo-list::after {
  content: " ";
  position: absolute;
  right: 0;
  height: 105px;
  z-index: 1;
  min-width: 196px;
  background: linear-gradient(to left, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
}
.container-top .partner .logo-list .logo-group {
  display: flex;
  gap: 20px;
  height: 40px;
}
.container-top .partner .logo-list .logo-group.logo-group-top {
  animation: carousel 20s linear infinite;
}
.container-top .partner .logo-list .logo-group.logo-group-bottom {
  animation: carousel-reverse 20s linear infinite;
}
.container-top .partner .logo-list .logo-group .logo img {
  position: relative;
  z-index: -1;
  max-width: 160px;
  height: 40px;
}
@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes carousel-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.container-top .partner .testimonial-area .testimonial-content .testimonial-list {
  display: flex;
}
.container-top .partner .testimonial-area .testimonial-content .testimonial-list .testimonial-card {
  background: rgba(255, 255, 255, 0.0784313725);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: auto;
}
.container-top .partner .testimonial-area .testimonial-content .testimonial-list .testimonial-card .stargroup {
  margin-bottom: 20px;
}
.container-top .partner .testimonial-area .testimonial-content .testimonial-list .testimonial-card .stargroup .material-icons {
  font-size: 16px;
}
.container-top .partner .testimonial-area .testimonial-content .testimonial-list .testimonial-card .quote {
  margin-bottom: 40px;
  flex-grow: 1;
}
.container-top .partner .testimonial-area .testimonial-content .testimonial-list .testimonial-card .customer {
  display: flex;
  align-items: center;
}
.container-top .partner .testimonial-area .testimonial-content .testimonial-list .testimonial-card .customer img {
  margin-right: 16px;
}
.container-top .partner .testimonial-area .testimonial-content .testimonial-list .testimonial-card .customer .profile {
  gap: 4px;
}
.container-top .partner .testimonial-area .testimonial-content .testimonial-list .testimonial-card .customer .profile .fs-lg {
  height: auto;
  margin-bottom: 4px;
}
.container-top .partner .testimonial-area .swiper-pagination-bullet {
  background-color: grey;
  opacity: 1;
}
.container-top .partner .testimonial-area .swiper-pagination-bullet-active {
  background-color: white;
}

.container-mid {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 160px;
  padding: 160px 12px;
}
.container-mid .container-mid-content {
  max-width: 1296px;
  margin: 0 auto;
}
.container-mid .container-mid-content .fs-d3 {
  color: #020202;
  text-align: center;
  font-weight: 900;
  margin-bottom: 80px;
}
.container-mid .container-mid-content .searchbar {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 12px 40px;
}
.container-mid .container-mid-content .searchbar .material-icons {
  color: #919191;
  margin-right: 15.51px;
}
.container-mid .container-mid-content .searchbar input {
  width: 100%;
  padding: 8px;
  background-color: #f2f2f2;
  border: none;
  color: #919191;
}
.container-mid .container-mid-content .searchbar input:focus::-moz-placeholder {
  color: transparent;
}
.container-mid .container-mid-content .searchbar input:focus::placeholder {
  color: transparent;
}
.container-mid .container-mid-content .searchbar input:focus-visible {
  outline: none;
}
.container-mid .container-mid-content .filter {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  height: 64px;
}
.container-mid .container-mid-content .filter .filter-sign-dropdown {
  position: relative;
}
.container-mid .container-mid-content .filter .filter-sign-dropdown .filter-sign-button {
  border: 1px solid #f2f2f2;
  padding: 20px 32px 20px 40px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.container-mid .container-mid-content .filter .filter-sign-dropdown .filter-sign-button:hover {
  border: 1px solid #020202;
}
.container-mid .container-mid-content .filter .filter-sign-dropdown .filter-sign-button .fs-lg {
  color: #020202;
  font-weight: 400;
}
.container-mid .container-mid-content .filter .filter-sign-dropdown .filter-sign-button .material-icons {
  color: #020202;
  font-size: 16px;
}
.container-mid .container-mid-content .filter .filter-sign-dropdown .filter-sign-dropdown-menu {
  width: 240px;
  display: none;
  margin-top: 4px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  border-radius: 16px;
  position: absolute;
  background-color: #ffffff;
  left: 0;
  z-index: 1;
}
.container-mid .container-mid-content .filter .filter-sign-dropdown .filter-sign-dropdown-menu.show {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container-mid .container-mid-content .filter .filter-sign-dropdown .filter-sign-dropdown-menu.show .filter-sign-dropdown-submenu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container-mid .container-mid-content .filter .filter-sign-dropdown .filter-sign-dropdown-menu.show .filter-sign-dropdown-submenu .title {
  color: #919191;
  font-weight: 700;
  padding: 0 32px 0 40px;
}
.container-mid .container-mid-content .filter .filter-sign-dropdown .filter-sign-dropdown-menu.show .filter-sign-dropdown-submenu a {
  padding: 4px 32px 4px 40px;
  display: block;
  color: #020202;
}
.container-mid .container-mid-content .filter .filter-sign-dropdown .filter-sign-dropdown-menu.show .filter-sign-dropdown-submenu a:hover {
  background-color: #f2f2f2;
}
.container-mid .container-mid-content .filter .filter-list {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}
.container-mid .container-mid-content .filter .filter-list .filter-item {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  border-radius: 16px;
  white-space: nowrap;
  cursor: pointer;
  color: #919191;
}
.container-mid .container-mid-content .filter .filter-list .filter-item:hover {
  background-color: #f2f2f2;
  color: #020202;
}
.container-mid .container-mid-content .filter .filter-list .filter-item.active {
  background-color: #f2f2f2;
  color: #020202;
}
.container-mid .container-mid-content .filter .filter-selector-dropdown {
  position: relative;
}
.container-mid .container-mid-content .filter .filter-selector-dropdown .filter-selector-button {
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  text-align: center;
  padding: 20px 32px 20px 40px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.container-mid .container-mid-content .filter .filter-selector-dropdown .filter-selector-button:hover {
  border: 1px solid #020202;
}
.container-mid .container-mid-content .filter .filter-selector-dropdown .filter-selector-button .filter-selector-button-text {
  color: #020202;
}
.container-mid .container-mid-content .filter .filter-selector-dropdown .filter-selector-button .material-icons {
  color: #020202;
}
.container-mid .container-mid-content .filter .filter-selector-dropdown .filter-selector-dropdown-menu {
  display: none;
  margin-top: 4px;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  border-radius: 16px;
  position: absolute;
  background-color: #ffffff;
  right: 0;
  z-index: 1;
}
.container-mid .container-mid-content .filter .filter-selector-dropdown .filter-selector-dropdown-menu a {
  width: 100%;
  color: #020202;
  padding: 4px 40px;
}
.container-mid .container-mid-content .filter .filter-selector-dropdown .filter-selector-dropdown-menu a:hover {
  background-color: #f2f2f2;
}
.container-mid .container-mid-content .filter .filter-selector-dropdown .filter-selector-dropdown-menu.show {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container-mid .container-mid-content .card-list {
  margin: 40px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.container-mid .container-mid-content .card-list .card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  width: 32%;
  margin-bottom: 24px;
  overflow: hidden;
}
.container-mid .container-mid-content .card-list .card .card-img {
  overflow: hidden;
}
.container-mid .container-mid-content .card-list .card .card-img img {
  display: block;
  transition: all 0.3s ease-out;
  max-width: 100%;
}
.container-mid .container-mid-content .card-list .card .card-img img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in;
}
.container-mid .container-mid-content .card-list .card .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.container-mid .container-mid-content .card-list .card .card-content .card-detail {
  flex-grow: 1;
  padding: 20px 32px 20px 32px;
  border-bottom: 1px solid #f2f2f2;
}
.container-mid .container-mid-content .card-list .card .card-content .card-detail .fs-h6 {
  color: #020202;
  font-weight: 900;
  margin-bottom: 12px;
}
.container-mid .container-mid-content .card-list .card .card-content .card-detail .fs-md {
  color: #525252;
  font-weight: 400;
}
.container-mid .container-mid-content .card-list .card .card-content .card-info {
  padding: 20px 32px 20px 32px;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
}
.container-mid .container-mid-content .card-list .card .card-content .card-info .fs-lg {
  color: #020202;
  font-weight: 700;
}
.container-mid .container-mid-content .card-list .card .card-content .card-info .author {
  font-weight: 400;
}
.container-mid .container-mid-content .card-list .card .card-content .card-share {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px 20px 32px;
}
.container-mid .container-mid-content .card-list .card .card-content .card-share a {
  display: block;
}
.container-mid .container-mid-content .card-list .card .card-content .card-share a .fs-lg {
  color: #020202;
  font-weight: 400;
}
.container-mid .container-mid-content .card-list .card .card-content .card-share .material-icons {
  color: #020202;
}
.container-mid .container-mid-content .pagination {
  float: right;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
}
.container-mid .container-mid-content .pagination .pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  background-color: #ffffff;
  color: #020202;
}
.container-mid .container-mid-content .pagination .pagination-item:hover {
  color: #ffffff;
  background-color: #020202;
}
.container-mid .container-mid-content .pagination .pagination-item.active {
  color: #ffffff;
  background-color: #020202;
}
.container-mid .container-mid-content .pagination .prePage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  background-color: #ffffff;
  color: #020202;
}
.container-mid .container-mid-content .pagination .prePage:hover {
  color: #ffffff;
  background-color: #020202;
}
.container-mid .container-mid-content .pagination .nextPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  background-color: #ffffff;
  color: #020202;
}
.container-mid .container-mid-content .pagination .nextPage:hover {
  color: #ffffff;
  background-color: #020202;
}
.container-mid .container-mid-content .pagination .material-iconsdisabled {
  display: none;
}

.container-bottom {
  max-width: 1326px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-bottom .contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
  gap: 40px;
}
.container-bottom .contactus .fs-h1 {
  font-weight: 900;
}
.container-bottom .contactus a {
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  padding: 20px 32px 20px 40px;
  gap: 16px;
  border-radius: 16px;
}
.container-bottom .contactus a:hover {
  background-color: #ffffff;
  color: #020202;
}
.container-bottom .contactus a .fs-h6 {
  font-weight: 900;
}
.container-bottom .footer .footermenu-top {
  border-top: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.container-bottom .footer .footermenu-top .footermenu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container-bottom .footer .footermenu-top .footermenu-list .footermenu-item {
  font-weight: 900;
  color: #ffffff;
}
.container-bottom .footer .footermenu-top .footer-logo .logo {
  display: flex;
  gap: 16px;
}
.container-bottom .footer .footermenu-top .footer-logo img {
  height: 40px;
}
.container-bottom .footer .footermenu-bottom {
  width: 100%;
  border-top: 1px solid #ffffff;
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.container-bottom .footer .footermenu-bottom .privacy-policy {
  min-width: 125px;
  color: #ffffff;
  font-weight: 700;
  padding: 12px 0;
  margin-right: 100px;
}
.container-bottom .footer .footermenu-bottom .socialmedia-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.container-bottom .footer .footermenu-bottom .socialmedia-menu .socialmedia-item {
  font-weight: 700;
  color: #ffffff;
}
.container-bottom .footer .footermenu-bottom .socialmedia-menu .socialmedia-item a {
  padding: 12px 0;
  display: block;
}
.container-bottom .footer .backtotop {
  margin-left: auto;
  cursor: pointer;
  min-width: 126px;
  display: flex;
  padding: 12px 0;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 767px) {
  .container-top {
    max-width: 743px;
    padding: 0 12px;
  }
  .container-top .navbar {
    height: 80px;
  }
  .container-top .navbar .menu-list {
    display: none;
  }
  .container-top .navbar a {
    display: inline;
    font-size: 24px;
    margin-right: 8px;
  }
  .container-top .kv {
    margin-bottom: 180px;
  }
  .container-top .kv .kv-title {
    max-width: 252px;
  }
  .container-top .animation .grass-list .grass-item {
    display: flex;
  }
  .container-top .animation .grass-list .grass-item img {
    max-width: 117px;
    height: 117px;
  }
  .container-top .our-service {
    margin: 120px 0;
  }
  .container-top .our-service .service-title {
    display: flex;
    flex-direction: column;
  }
  .container-top .our-service .service-title .fs-mb-h6 {
    margin-bottom: 24px;
    font-weight: 900;
  }
  .container-top .our-service .service-title .fs-mb-h3 {
    max-width: 351px;
    font-weight: 900;
  }
  .container-top .our-service .service-card-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .container-top .our-service .service-card-list .service-card {
    width: 100%;
    padding: 40px 20px;
  }
  .container-top .partner {
    margin-bottom: 120px;
  }
  .container-top .partner .logo-list {
    max-width: 100%;
    margin: 24px 0 48px 0;
    gap: 12px;
  }
  .container-top .partner .logo-list::before {
    min-width: 82px;
  }
  .container-top .partner .logo-list::after {
    min-width: 82px;
  }
  .container-top .partner .logo-list .logo-group.logo-group-top {
    animation: carousel 10s linear infinite;
  }
  .container-top .partner .logo-list .logo-group.logo-group-bottom {
    animation: carousel-reverse 10s linear infinite;
  }
  .container-top .partner .testimonial-area.testimonial-content.testimonial-list.testimonial-card.quote {
    margin-bottom: 20px;
  }
  .container-mid {
    border-radius: 20px;
    padding: 80px 12px;
  }
  .container-mid .container-mid-content {
    max-width: 100%;
  }
  .container-mid .container-mid-content .fs-mb-h3 {
    margin-bottom: 32px;
    text-align: center;
    padding: 0 30px;
  }
  .container-mid .container-mid-content .filter {
    flex-wrap: wrap;
    margin-bottom: 48px;
  }
  .container-mid .container-mid-content .filter .filter-sign-dropdown-menu.show {
    width: 351px;
  }
  .container-mid .container-mid-content .filter .filter-list {
    overflow-x: auto;
    margin: 24px auto 48px auto;
    order: 2;
    gap: 10px;
  }
  .container-mid .container-mid-content .filter .filter-list .filter-item {
    display: inline-block;
  }
  .container-mid .container-mid-content .card-list {
    flex-direction: column;
    gap: 12px;
    padding: 48px 0 32px 0;
    margin: 0;
  }
  .container-mid .container-mid-content .card-list .card {
    width: 100%;
    margin-bottom: 12px;
  }
  .container-bottom {
    padding: 0 12px;
  }
  .container-bottom .contactus {
    margin: 120px 0;
  }
  .container-bottom .contactus .fs-mb-h3 {
    text-align: center;
    max-width: 224px;
  }
  .container-bottom .footer .footermenu-top {
    flex-direction: column-reverse;
    padding: 80px 0;
    gap: 40px;
  }
  .container-bottom .footer .footermenu-bottom {
    padding: 20px 0 8px 0;
    flex-wrap: wrap;
    align-items: center;
  }
  .container-bottom .footer .footermenu-bottom .privacy-policy {
    position: relative;
    display: inline;
    margin-bottom: 12px;
    margin-right: 0;
  }
  .container-bottom .footer .footermenu-bottom .socialmedia-menu {
    order: 1;
    margin-bottom: 12px;
  }
  .container-bottom .footer .footermenu-bottom .backtotop {
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .container-bottom .footer .footermenu-bottom .backtotop {
    order: 2;
  }
}
@media (max-width: 767px) and (max-width: 518px) {
  .container-bottom .footer .footermenu-bottom .backtotop {
    order: 0;
  }
}
.container-top .kv .fs-h1 {
  margin-left: 50%;
  max-width: 636px;
  margin-top: 80px;
  font-weight: 900;
  margin-bottom: 238px;
}
.container-top .animation-price {
  display: block;
  justify-content: flex-start;
}
.container-top .animation-price .grass-list .grass-item {
  overflow: hidden;
}
.container-top .animation-price .grass-list .grass-item img {
  position: relative;
  animation: slide-up 3.5s ease-in-out infinite;
}
.container-top .animation-price .grass-list .grass-item .grass1 {
  animation-delay: 0.5s;
}
.container-top .animation-price .grass-list .grass-item .grass2 {
  animation-delay: 0.25s;
}
.container-top .animation-price .grass-list .grass-item .grass3 {
  animation-delay: 0s;
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.container-top .pricing {
  margin: 160px 0;
}
.container-top .pricing .fs-h3 {
  margin-bottom: 80px;
  font-weight: 900;
}
.container-top .pricing .pricing-card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.container-top .pricing .pricing-card-list .pricing-card {
  border: 1px solid #525252;
  border-radius: 16px;
  width: 634px;
}
.container-top .pricing .pricing-card-list .pricing-card:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-content {
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #525252;
  height: 254px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-content .fs-h3 {
  font-weight: 900;
  margin-bottom: 12px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-content .description-list .desctiption {
  color: #f2f2f2;
  list-style-type: disc;
  margin-left: 32px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan {
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan .price {
  font-weight: 900;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan .price > span {
  color: #919191;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan a .fs-lg {
  font-weight: 700;
}
.container-top .guideline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
.container-top .guideline .fs-h3 {
  font-weight: 900;
}
.container-top .guideline .guideline-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 856px;
  gap: 24px;
}
.container-top .guideline .guideline-list .guideline-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #525252;
  padding-bottom: 40px;
  gap: 24px;
}
.container-top .guideline .guideline-list .guideline-item .fs-h1 {
  font-weight: 900;
}
.container-top .guideline .guideline-list .guideline-item .fs-h3 {
  font-weight: 400;
}

.container-bottom .faq {
  margin: 158px 0 160px 0;
}
.container-bottom .faq .faq-content {
  display: flex;
  justify-content: space-between;
}
.container-bottom .faq .faq-content .fs-h3 {
  font-weight: 900;
}
.container-bottom .faq .faq-content .faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 66%;
}
.container-bottom .faq .faq-content .faq-list .faq-item {
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  border: 1px solid #525252;
  border-radius: 16px;
}
.container-bottom .faq .faq-content .faq-list .faq-item .faq-text .question {
  font-weight: 900;
}
.container-bottom .faq .faq-content .faq-list .faq-item .faq-text .answer {
  display: none;
}
.container-bottom .faq .faq-content .faq-list .faq-item:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
}
.container-bottom .faq .faq-content .faq-list .faq-item.clicked {
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 20px 40px;
  display: flex;
  gap: 20px;
}
.container-bottom .faq .faq-content .faq-list .faq-item.clicked .faq-text .question {
  margin-bottom: 16px;
}
.container-bottom .faq .faq-content .faq-list .faq-item.clicked .faq-text .answer {
  display: block;
}

@media (max-width: 767px) {
  .container-top .kv .kv-title {
    margin: 40px 0 64px 0;
  }
  .container-top .kv .fs-h1 {
    margin: 0 0 258px 94px;
  }
  .container-top .animation-price .grass-list .grass-item {
    display: flex;
  }
  .container-top .animation-price .grass-list .grass-item img {
    max-width: 117px;
    height: 117px;
  }
  .container-top .pricing {
    margin: 120px 0;
  }
  .container-top .pricing .fs-mb-h6 {
    font-weight: 900;
    margin-bottom: 24px;
  }
  .container-top .pricing .pricing-card-list .pricing-card {
    width: 100%;
  }
  .container-top .pricing .pricing-card-list .pricing-card .pricing-content {
    padding: 20px;
    height: 176px;
  }
  .container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan {
    padding: 20px;
  }
  .container-top .guideline {
    display: block;
    margin-bottom: 120px;
  }
  .container-top .guideline .guideline-title {
    margin-bottom: 48px;
  }
  .container-bottom .faq {
    margin: 120px 0;
  }
  .container-bottom .faq .faq-content {
    display: block;
  }
  .container-bottom .faq .faq-content .fs-mb-h6 {
    margin-bottom: 24px;
  }
  .container-bottom .faq .faq-content .faq-list {
    width: 100%;
  }
  .container-bottom .faq .faq-content .faq-list .faq-item {
    padding: 20px 40px;
  }
}
.menu {
  margin: 0 auto;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu .menu-group .menu-list a {
  text-align: center;
}

.container-bottom .footer .footermenu-bottom .menu-page-privacy-policy {
  width: 100%;
}
.container-bottom .footer .footermenu-bottom .menu-backtotop {
  display: none;
}/*# sourceMappingURL=all.css.map */