* {
  font-family: "Noto Sans TC, sans-serif";
}

.d1, .d2, .d3, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 900;
  line-height: 1.2;
}

.d1 {
  font-size: 160px;
  font-weight: 700;
}

.d2 {
  font-size: 120px;
  font-weight: 400;
}

.d3 {
  font-size: 80px;
  font-weight: 400;
}

.h1 {
  font-size: 3rem;
  font-weight: 400;
}

.h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.h3 {
  font-size: 2rem;
  font-weight: 400;
}

.h4 {
  font-size: 1.75rem;
  font-weight: 400;
}

.h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

.h6 {
  font-size: 1.25rem;
  font-weight: 400;
}

.body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.small {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 21px;
}

.tiny {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 18px;
}

@media (max-width: 768px) {
  .mb-h1, .mb-h2, .mb-h3, .mb-h4, .mb-h5, .mb-h6 {
    font-weight: 900;
    line-height: 1.2;
  }
  .mb-h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  .mb-h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .mb-h3 {
    font-size: 2rem;
    font-weight: 400;
  }
  .mb-h4 {
    font-size: 1.75rem;
    font-weight: 400;
  }
  .mb-h5 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .mb-h6 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .mb-body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
  }
  .mb-small {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 21px;
  }
  .mb-tiny {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 18px;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #020202;
  color: #ffffff;
  font-weight: 400;
  font-family: "Noto Sans TC, sans-serif";
}
body a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

.container-top {
  max-width: 1296px;
  margin: 0 auto;
}
.container-top .navbar {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff;
  align-items: center;
}
.container-top .navbar .logo {
  height: 40px;
}
.container-top .navbar .logo a {
  display: contents;
}
.container-top .navbar .logo a img {
  height: 40px;
}
.container-top .navbar .menulist {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.container-top .navbar .menulist a {
  display: block;
}
.container-top .navbar .menulist .body {
  font-weight: 700;
}
.container-top .navbar a {
  display: none;
}
.container-top .navbar .body {
  color: #ffffff;
}
.container-top .kv {
  margin-bottom: 100px;
}
.container-top .kv .kv-title {
  margin: 40px 0;
  font-weight: 900;
}
.container-top .kv a {
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 16px;
  padding: 20px 40px;
}
.container-top .kv a .h6 {
  font-weight: 900;
}
.container-top .animation {
  display: flex;
  justify-content: flex-end;
}
.container-top .animation .grasslist .grassitem {
  overflow: hidden;
}
.container-top .animation .grasslist .grassitem img {
  position: relative;
  animation: slide-up 3.5s ease-in-out infinite;
}
.container-top .animation .grasslist .grassitem .grass1 {
  animation-delay: 0.5s;
}
.container-top .animation .grasslist .grassitem .grass2 {
  animation-delay: 0.25s;
}
.container-top .animation .grasslist .grassitem .grass3 {
  animation-delay: 0s;
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.container-top .ourservice {
  margin: 160px 0;
}
.container-top .ourservice .service-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.container-top .ourservice .service-title .h3 {
  font-weight: 900;
}
.container-top .ourservice .service-title .h1 {
  max-width: 856px;
  font-weight: 900;
}
.container-top .ourservice .service-cardlist {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.container-top .ourservice .service-cardlist .service-card {
  width: 33.3333333333%;
  border: 1px solid #525252;
  border-radius: 16px;
  padding: 80px 40px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.container-top .ourservice .service-cardlist .service-card .material-icons {
  font-size: 80px;
}
.container-top .partner {
  margin-bottom: 160px;
}
.container-top .partner .h3 {
  font-weight: 900;
}
.container-top .partner .logolist {
  margin: 80px 0 160px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 20px;
  background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, rgb(0, 0, 0) 100%);
}
.container-top .partner .logolist .logogroup {
  display: flex;
  gap: 20px;
}
.container-top .partner .logolist .logogroup.logogroup-top {
  animation: carousel 20s linear infinite;
}
.container-top .partner .logolist .logogroup.logogroup-bottom {
  animation: carousel-reverse 20s linear infinite;
}
.container-top .partner .logolist .logogroup .logo img {
  position: relative;
  z-index: -1;
  max-width: 160px;
  height: 40px;
}
@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes carousel-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.container-top .partner .testimoniallist {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.container-top .partner .testimoniallist .testimonialcard {
  width: 33.3333333333%;
  background: rgba(255, 255, 255, 0.0784313725);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.container-top .partner .testimoniallist .testimonialcard .stargroup {
  margin-bottom: 20px;
}
.container-top .partner .testimoniallist .testimonialcard .stargroup .material-icons {
  font-size: 16px;
}
.container-top .partner .testimoniallist .quote {
  overflow: hidden;
  color: #f2f2f2;
  max-height: 215px;
  margin-bottom: 20px;
}
.container-top .partner .testimoniallist .customer {
  display: flex;
  align-items: center;
}
.container-top .partner .testimoniallist .customer img {
  margin-right: 16px;
}
.container-top .partner .testimoniallist .customer .profile {
  gap: 4px;
}
.container-top .partner .testimoniallist .customer .profile .body {
  height: auto;
  margin-bottom: 4px;
}

.container-mid {
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 160px;
  padding: 160px 12px;
}
.container-mid .container-mid-content {
  max-width: 1296px;
  margin: 0 auto;
}
.container-mid .container-mid-content .d3 {
  color: #020202;
  text-align: center;
  font-weight: 900;
  margin-bottom: 80px;
}
.container-mid .container-mid-content .searchbar {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 20px 40px;
}
.container-mid .container-mid-content .searchbar .material-icons {
  color: #919191;
  margin-right: 15.51px;
}
.container-mid .container-mid-content .searchbar input {
  width: 100%;
  padding: 8px;
  background-color: #f2f2f2;
  border: none;
  color: #919191;
}
.container-mid .container-mid-content .searchbar input:focus::-moz-placeholder {
  color: transparent;
}
.container-mid .container-mid-content .searchbar input:focus::placeholder {
  color: transparent;
}
.container-mid .container-mid-content .searchbar input:focus-visible {
  outline: none;
}
.container-mid .container-mid-content .filter {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  height: 64px;
}
.container-mid .container-mid-content .filter .filter-sign {
  border: 1px solid #f2f2f2;
  padding: 20px 32px 20px 40px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.container-mid .container-mid-content .filter .filter-sign .body {
  color: #020202;
  font-weight: 400;
}
.container-mid .container-mid-content .filter .filter-sign .material-icons {
  color: #020202;
  font-size: 16px;
}
.container-mid .container-mid-content .filter .filterlist {
  display: flex;
  align-items: center;
  gap: 8px;
  overflow: hidden;
}
.container-mid .container-mid-content .filter .filterlist .filteritem {
  display: inline-block;
  padding: 8px 16px;
  text-align: center;
  border-radius: 16px;
  white-space: nowrap;
}
.container-mid .container-mid-content .filter .filterlist .filteritem:hover {
  background-color: #f2f2f2;
}
.container-mid .container-mid-content .filter .filterlist .filteritem:hover .body {
  color: #020202;
}
.container-mid .container-mid-content .filter .filterlist .filteritem .body {
  color: #919191;
  font-weight: 700;
}
.container-mid .container-mid-content .filter .filterselector {
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  text-align: center;
  padding: 20px 32px 20px 40px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.container-mid .container-mid-content .filter .filterselector .body {
  color: #020202;
}
.container-mid .container-mid-content .filter .filterselector .material-icons {
  color: #020202;
}
.container-mid .container-mid-content .cardlist {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-mid .container-mid-content .cardlist .card {
  border: 1px solid #f2f2f2;
  border-radius: 16px;
  width: 32%;
  margin-bottom: 24px;
  overflow: hidden;
}
.container-mid .container-mid-content .cardlist .card .card-img {
  height: 312px;
  overflow: hidden;
}
.container-mid .container-mid-content .cardlist .card .card-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s ease-out;
  overflow: hidden;
}
.container-mid .container-mid-content .cardlist .card .card-img img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in;
}
.container-mid .container-mid-content .cardlist .card .card-content {
  display: flex;
  flex-direction: column;
}
.container-mid .container-mid-content .cardlist .card .card-content .card-detail {
  padding: 20px 32px 20px 32px;
  border-bottom: 1px solid #f2f2f2;
}
.container-mid .container-mid-content .cardlist .card .card-content .card-detail .h6 {
  color: #020202;
  font-weight: 900;
  margin-bottom: 12px;
}
.container-mid .container-mid-content .cardlist .card .card-content .card-detail .small {
  color: #525252;
  font-weight: 400;
}
.container-mid .container-mid-content .cardlist .card .card-content .card-info {
  padding: 20px 32px 20px 32px;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  justify-content: space-between;
}
.container-mid .container-mid-content .cardlist .card .card-content .card-info .body {
  color: #020202;
  font-weight: 700;
}
.container-mid .container-mid-content .cardlist .card .card-content .card-share {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px 20px 32px;
}
.container-mid .container-mid-content .cardlist .card .card-content .card-share a {
  display: block;
}
.container-mid .container-mid-content .cardlist .card .card-content .card-share a .body {
  color: #020202;
  font-weight: 400;
}
.container-mid .container-mid-content .cardlist .card .card-content .card-share .material-icons {
  color: #020202;
}
.container-mid .container-mid-content .pagination {
  float: right;
  max-width: 308px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
}
.container-mid .container-mid-content .pagination .pageitem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 16px;
}
.container-mid .container-mid-content .pagination .pageitem:hover {
  color: #ffffff;
  background-color: #020202;
}
.container-mid .container-mid-content .pagination .pageitem:hover > .small {
  color: #ffffff;
}
.container-mid .container-mid-content .pagination .pageitem:hover .material-icons {
  color: #ffffff;
}
.container-mid .container-mid-content .pagination .pageitem .material-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #020202;
  height: 48px;
  width: 48px;
}
.container-mid .container-mid-content .pagination .small {
  font-weight: 700;
  text-align: center;
  color: #020202;
}

.container-bottom {
  max-width: 1296px;
  margin: 0 auto;
}
.container-bottom .contactus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
  gap: 40px;
}
.container-bottom .contactus .h1 {
  font-weight: 900;
}
.container-bottom .contactus a {
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  padding: 20px 32px 20px 40px;
  gap: 16px;
  border-radius: 16px;
}
.container-bottom .footer .footermenu-top {
  border-top: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
}
.container-bottom .footer .footermenu-top .footer-menulist {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.container-bottom .footer .footermenu-top .footer-menulist .footer-menuitem {
  font-weight: 900;
  color: #ffffff;
}
.container-bottom .footer .footermenu-top .footer-logo img {
  height: 40px;
}
.container-bottom .footer .footermenu-bottom {
  width: 100%;
  border-top: 1px solid #ffffff;
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.container-bottom .footer .footermenu-bottom .privacy-policy {
  min-width: 125px;
  color: #ffffff;
  font-weight: 700;
  padding: 12px 0;
  margin-right: 100px;
}
.container-bottom .footer .footermenu-bottom .socialmediamenu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.container-bottom .footer .footermenu-bottom .socialmediamenu .socialmedia-item {
  font-weight: 700;
  color: #ffffff;
}
.container-bottom .footer .footermenu-bottom .socialmediamenu .socialmedia-item a {
  padding: 12px 0;
  display: block;
}
.container-bottom .footer .backtotop {
  margin-left: auto;
  cursor: pointer;
  min-width: 126px;
  display: flex;
  padding: 12px 0;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 767px) {
  .container-top {
    max-width: 743px;
    padding: 0 12px;
  }
  .container-top .navbar {
    height: 80px;
  }
  .container-top .navbar .menulist {
    display: none;
  }
  .container-top .navbar a {
    display: inline;
    font-size: 24px;
    margin-right: 8px;
  }
  .container-top .kv {
    margin-bottom: 180px;
  }
  .container-top .kv .kv-title {
    max-width: 252px;
  }
  .container-top .animation .grasslist .grassitem {
    display: flex;
  }
  .container-top .animation .grasslist .grassitem img {
    max-width: 117px;
    height: 117px;
  }
  .container-top .ourservice {
    margin: 120px 0;
  }
  .container-top .ourservice .service-title {
    display: flex;
    flex-direction: column;
  }
  .container-top .ourservice .service-title .mb-h6 {
    margin-bottom: 24px;
    font-weight: 900;
  }
  .container-top .ourservice .service-title .mb-h3 {
    max-width: 351px;
    font-weight: 900;
  }
  .container-top .ourservice .service-cardlist {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .container-top .ourservice .service-cardlist .service-card {
    width: 100%;
    padding: 40px 20px;
  }
  .container-top .partner .logolist {
    max-width: 100%;
    margin: 24px 0 48px 0;
    gap: 12px;
  }
  .container-top .partner .logolist .logogroup.logogroup-top {
    animation: carousel 10s linear infinite;
  }
  .container-top .partner .logolist .logogroup.logogroup-bottom {
    animation: carousel-reverse 10s linear infinite;
  }
  .container-top .partner .testimoniallist {
    white-space: nowrap;
    overflow-x: auto;
    justify-content: unset;
  }
  .container-top .partner .testimoniallist .testimonialcard {
    padding: 20px;
    min-width: 100%;
  }
  .container-top .partner .testimoniallist .testimonialcard .quote {
    min-height: 144px;
    white-space: normal;
  }
  .container-mid {
    border-radius: 20px;
    padding: 80px 12px;
  }
  .container-mid .container-mid-content {
    max-width: 100%;
  }
  .container-mid .container-mid-content .mb-h3 {
    margin-bottom: 32px;
    text-align: center;
    padding: 0 30px;
  }
  .container-mid .container-mid-content .filter {
    flex-wrap: wrap;
    margin-bottom: 48px;
  }
  .container-mid .container-mid-content .filter .filterlist {
    overflow-x: auto;
    margin: 24px auto 48px auto;
    order: 2;
    gap: 10px;
  }
  .container-mid .container-mid-content .filter .filterlist .filteritem {
    display: inline-block;
  }
  .container-mid .container-mid-content .cardlist {
    flex-direction: column;
    gap: 12px;
    padding: 48px 0 32px 0;
    margin: 0;
  }
  .container-mid .container-mid-content .cardlist .card {
    width: 100%;
    margin-bottom: 12px;
  }
  .container-bottom {
    padding: 0 12px;
  }
  .container-bottom .contactus {
    margin: 120px 0;
  }
  .container-bottom .contactus .mb-h3 {
    text-align: center;
    max-width: 224px;
  }
  .container-bottom .footer .footermenu-top {
    flex-direction: column-reverse;
    padding: 80px 0;
    gap: 40px;
  }
  .container-bottom .footer .footermenu-bottom {
    padding: 20px 0 8px 0;
    flex-wrap: wrap;
    align-items: center;
  }
  .container-bottom .footer .footermenu-bottom .privacy-policy {
    position: relative;
    display: inline;
    margin-bottom: 12px;
  }
  .container-bottom .footer .footermenu-bottom .socialmediamenu {
    order: 2;
    margin-bottom: 12px;
  }
  .container-bottom .footer .footermenu-bottom .backtotop {
    margin-bottom: 12px;
  }
}
body {
  box-sizing: border-box;
}

.container-top .kv .h1 {
  margin-left: 50%;
  max-width: 636px;
  margin-top: 80px;
  font-weight: 900;
  margin-bottom: 238px;
}
.container-top .animation-price {
  display: block;
  justify-content: flex-start;
}
.container-top .animation-price .grasslist .grassitem {
  overflow: hidden;
}
.container-top .animation-price .grasslist .grassitem img {
  position: relative;
  animation: slide-up 3.5s ease-in-out infinite;
}
.container-top .animation-price .grasslist .grassitem .grass1 {
  animation-delay: 0.5s;
}
.container-top .animation-price .grasslist .grassitem .grass2 {
  animation-delay: 0.25s;
}
.container-top .animation-price .grasslist .grassitem .grass3 {
  animation-delay: 0s;
}
@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.container-top .pricing {
  margin: 160px 0;
}
.container-top .pricing .h3 {
  margin-bottom: 80px;
  font-weight: 900;
}
.container-top .pricing .pricing-card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.container-top .pricing .pricing-card-list .pricing-card {
  border: 1px solid #525252;
  border-radius: 16px;
  width: 634px;
}
.container-top .pricing .pricing-card-list .pricing-card:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-content {
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #525252;
  height: 254px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-content .h3 {
  font-weight: 900;
  margin-bottom: 12px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-content .description-list .desctiption {
  color: #f2f2f2;
  list-style-type: disc;
  margin-left: 32px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan {
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan .price {
  font-weight: 900;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan .price > span {
  color: #919191;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan a .body {
  font-weight: 700;
}
.container-top .guideline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
.container-top .guideline .h3 {
  font-weight: 900;
}
.container-top .guideline .guideline-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 856px;
  gap: 24px;
}
.container-top .guideline .guideline-list .guideline-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #525252;
  padding-bottom: 40px;
  gap: 24px;
}
.container-top .guideline .guideline-list .guideline-item .h1 {
  font-weight: 900;
}
.container-top .guideline .guideline-list .guideline-item .h3 {
  font-weight: 400;
}

.container-bottom .faq {
  margin: 158px 0 160px 0;
}
.container-bottom .faq .faq-content {
  display: flex;
  justify-content: space-between;
}
.container-bottom .faq .faq-content .h3 {
  font-weight: 900;
}
.container-bottom .faq .faq-content .faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 66%;
}
.container-bottom .faq .faq-content .faq-list .faq-item {
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  border: 1px solid #525252;
  border-radius: 16px;
}
.container-bottom .faq .faq-content .faq-list .faq-item .question {
  font-weight: 900;
}
.container-bottom .faq .faq-content .faq-list .faq-item .answer {
  display: none;
}
.container-bottom .faq .faq-content .faq-list .faq-item:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
}

@media (max-width: 767px) {
  .container-top .kv .kv-title {
    margin: 40px 0 64px 0;
  }
  .container-top .kv .h1 {
    margin: 0 0 258px 94px;
  }
  .container-top .animation-price .grasslist .grassitem {
    display: flex;
  }
  .container-top .animation-price .grasslist .grassitem img {
    max-width: 117px;
    height: 117px;
  }
  .container-top .pricing {
    margin: 120px 0;
  }
  .container-top .pricing .mb-h6 {
    font-weight: 900;
    margin-bottom: 24px;
  }
  .container-top .pricing .pricing-card-list .pricing-card {
    width: 100%;
  }
  .container-top .pricing .pricing-card-list .pricing-card .pricing-content {
    padding: 20px;
    height: 176px;
  }
  .container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan {
    padding: 20px;
  }
  .container-top .guideline {
    display: block;
    margin-bottom: 120px;
  }
  .container-top .guideline .guideline-title {
    margin-bottom: 48px;
  }
  .container-bottom .faq {
    margin: 120px 0;
  }
  .container-bottom .faq .faq-content {
    display: block;
  }
  .container-bottom .faq .faq-content .mb-h6 {
    margin-bottom: 24px;
  }
  .container-bottom .faq .faq-content .faq-list {
    width: 100%;
  }
  .container-bottom .faq .faq-content .faq-list .faq-item {
    padding: 20px;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 192px 107px;
}

.container-bottom .footer .footermenu-bottom .menu-backtotop {
  display: none;
}/*# sourceMappingURL=all.css.map */