* {
  font-family: "Noto Sans TC, sans-serif";
}

.d1, .d2, .d3, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 900;
  line-height: 1.2;
}

.d1 {
  font-size: 160px;
  font-weight: 700;
}

.d2 {
  font-size: 120px;
  font-weight: 400;
}

.d3 {
  font-size: 80px;
  font-weight: 400;
}

.h1 {
  font-size: 3rem;
  font-weight: 400;
}

.h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

.h3 {
  font-size: 2rem;
  font-weight: 400;
}

.h4 {
  font-size: 1.75rem;
  font-weight: 400;
}

.h5 {
  font-size: 1.5rem;
  font-weight: 400;
}

.h6 {
  font-size: 1.25rem;
  font-weight: 400;
}

.body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.small {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 21px;
}

.tiny {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 18px;
}

@media (max-width: 768px) {
  .mb-h1, .mb-h2, .mb-h3, .mb-h4, .mb-h5, .mb-h6 {
    font-weight: 900;
    line-height: 1.2;
  }
  .mb-h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  .mb-h2 {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .mb-h3 {
    font-size: 2rem;
    font-weight: 400;
  }
  .mb-h4 {
    font-size: 1.75rem;
    font-weight: 400;
  }
  .mb-h5 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  .mb-h6 {
    font-size: 1.25rem;
    font-weight: 400;
  }
  .mb-body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
  }
  .mb-small {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 21px;
  }
  .mb-tiny {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 18px;
  }
}
body {
  box-sizing: border-box;
}

.container-top .kv .h1 {
  margin-left: 50%;
  max-width: 636px;
  margin-top: 80px;
  font-weight: 900;
  margin-bottom: 238px;
}
.container-top .animation-pricing {
  justify-content: flex-start;
}
.container-top .pricing {
  margin: 160px 0;
}
.container-top .pricing .h3 {
  margin-bottom: 80px;
  font-weight: 900;
}
.container-top .pricing .pricing-card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}
.container-top .pricing .pricing-card-list .pricing-card {
  border: 1px solid #525252;
  border-radius: 16px;
  width: 634px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-content {
  padding: 20px 32px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #525252;
  height: 254px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-content .h3 {
  font-weight: 900;
  margin-bottom: 12px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-content .description-list .desctiption {
  color: #f2f2f2;
  list-style-type: disc;
  margin-left: 32px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan {
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan .price {
  font-weight: 900;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan .price > span {
  color: #919191;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan a .body {
  font-weight: 700;
}
.container-top .guideline {
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}
.container-top .guideline .h3 {
  font-weight: 900;
}
.container-top .guideline .guideline-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 856px;
  gap: 24px;
}
.container-top .guideline .guideline-list .guideline-item {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #525252;
  padding-bottom: 40px;
  gap: 24px;
}
.container-top .guideline .guideline-list .guideline-item .h1 {
  font-weight: 900;
}
.container-top .guideline .guideline-list .guideline-item .h3 {
  font-weight: 400;
}

.container-bottom .faq {
  margin: 158px 0 160px 0;
}
.container-bottom .faq .faq-content {
  display: flex;
  justify-content: space-between;
}
.container-bottom .faq .faq-content .h3 {
  font-weight: 900;
}
.container-bottom .faq .faq-content .faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 66%;
}
.container-bottom .faq .faq-content .faq-list .faq-item {
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  border: 1px solid #525252;
  border-radius: 16px;
}
.container-bottom .faq .faq-content .faq-list .faq-item .h6 {
  font-weight: 900;
}

@media (max-width: 767px) {
  .container-top .kv .kv-title {
    margin: 40px 0 64px 0;
  }
  .container-top .kv .h1 {
    margin: 0 0 258px 94px;
  }
  .container-top .pricing {
    margin: 120px 0;
  }
  .container-top .pricing .mb-h6 {
    font-weight: 900;
    margin-bottom: 24px;
  }
  .container-top .pricing .pricing-card-list .pricing-card .pricing-content {
    padding: 20px;
    height: 176px;
  }
  .container-top .pricing .pricing-card-list .pricing-card .pricing-card-plan {
    padding: 20px;
  }
  .container-top .guideline {
    display: block;
    margin-bottom: 120px;
  }
  .container-top .guideline .guideline-title {
    margin-bottom: 48px;
  }
  .container-bottom .faq {
    margin: 120px 0;
  }
  .container-bottom .faq .faq-content {
    display: block;
  }
  .container-bottom .faq .faq-content .mb-h6 {
    margin-bottom: 24px;
  }
  .container-bottom .faq .faq-content .faq-list {
    width: 100%;
  }
  .container-bottom .faq .faq-content .faq-list .faq-item {
    padding: 20px;
  }
}/*# sourceMappingURL=pricing.css.map */